/* this mostly doesn't work for some reason? */
body {
    /* background: #3333; */
}


#map {
    /* position: sticky; */
    width: 80%;
    height: 40em;
    margin: auto;
    border-radius: 10px;
    border: 3px solid white;
}

#unordered-list {
    margin: auto;
    padding-left: auto;
    padding-right: 127px;
}

#floating-panel {
    margin-bottom: 10px;
}

#returned-address {
    height: 4em;
    margin: auto;
    margin-bottom: 2px;
}

.col-centered{
    float: none;
    margin: auto;
}

/* Walking distance elements */
#walking-key {
    visibility: hidden;
}

#walking-Circle {
    padding-top: 500em;
}

#one-hundred-fifty-metres {
    color: white;
    background: green;
}

#three-hundred-metres {
    color: white;
    background: blue;
}

#six-hundred-metres {
    color: white;
    background: purple;
}

#search-limit {
    color: white;
    background: black;
}