#map {
    /* position: sticky; */
    width: 80%;
    height: 40em;
    margin: auto;
    /*border: 3px solid green;*/
}

#unordered-list {
    margin: auto;
    padding-left: auto;
    padding-right: 127px;
}

#floating-panel {
    margin-bottom: 10px;
}

#page-title {

}

#returned-address {
    height: 4em;
    margin: auto;
    margin-bottom: 2px;
}


.col-centered{
    float: none;
    margin: auto;
}


#walking-key {
    visibility: hidden;
}


#padding {
    padding-top: 0.5em;
    margin: auto;
}

#padding2 {
    padding-top: 0.5em;
    margin: auto;
}

#walking-Circle {
    padding-top: 500em;
}


#one-hundred-fifty-metres {
    color: white;
    background: green;
}

#three-hundred-metres {
    color: white;
    background: blue;
}

#six-hundred-metres {
    color: white;
    background: purple;
}

#search-limit {
    color: white;
    background: black;
}